// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Transformicon Color:
$navicon-color: $pos;

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.pagehead {


	background-image: url(../img/alum.jpg);
	z-index: 10;
	position: relative;

	.logo {
		display: block;
		max-width: 50%;
		margin: 0 auto;
		padding: 5%;
		img {
			width: 100%;
		}
		@include break($d) {
			width: 23%;
			float: left;
			//border: solid 5px lighten($neg, 10%);
			margin-top: 5px;
			margin-bottom: -100px;
			padding: 16px;
			//background-image: url(../img/alum.jpg);
			img {
				max-width: 300px;
			}
		}
	}
}

.top-wrap {
	position: relative;
}

.shim {
	display: none;
	@include break($d) {
		display: block;	
		width: 100%;
		height: 100px;
		z-index: 1;
		left: -62%;
		position: absolute;
		background-image: url(../img/long-curve-alum.jpg);
		background-position: top right;
		background-repeat: no-repeat;
	}
}

.rivets {
	width: 100%;
	height: 20px;
	padding-top: 5px;
	background-image: url(../img/rivet.png);
	background-repeat: repeat-x;
	background-size: 75px;
	opacity: 0.6;
}

.strip {
	background-image: url(../img/strip.png);
	background-size: 800px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100px;
	@include break($d) {
		height: 200px;
		background-size: auto;
	}
}

.signup-boxes {
	margin-top: 15px;
	@include break($d) {
		margin-top: 0;
	}
}

.signup-box {
	border-radius: 5px;
	@include break($d) {
		float: left;
	}
}

.grey-box {
	background-color: #8f9294;
	width: 90%;
	margin-bottom: 10px;
	font-size: 13px;
	.shell {
		width: 60%;
		margin: 0px auto;
		text-align: center;
		padding: 10px 0 0;
		height: 55px;
	}
	@include break($d) {
		background-color: transparent;
		width: 41%;
		margin-bottom: 0;
		background-image: url(../img/slant-grey.png);
		background-repeat: no-repeat;
		background-size: 100%;
		.shell {
			height: 70px;
		}
	}
}

.orange-box {
	background-color: #c67b29;
	width: 100%;
	.shell {
		width: 90%;
		margin: 0px auto;
		text-align: center;
		height: 55px;
		padding: 12px 0 0;
	}
	@include break($d) {
		background-color: transparent;
		width: 59%;
		background-image: url(../img/slant-orange.png);
		background-repeat: no-repeat;
		background-size: 100%;
		.shell {
			width: 80%;
			height: 70px;
		}
	}
	input {
		width: 75%;
		border-radius: 4px 0 0 4px;
		background-color: #fff;
	}
	button {
		margin: 0;
		border-radius: 0 4px 4px 0;
		background-color: #000;
		color: #fff;
		font-size: 12px;
		padding: 0 10px;
	}
	input, button {
		height: 31px;
		float: left;
	}
}

// .curve {
// 	width: 100px;
// 	height: 100px;
// 	z-index: 1;
// 	left: 35%;
// 	position: absolute;
// 	background-image: url(../img/curve-alum.png);
// }

#nav
{
    /* container */
}
#nav > a
{
	display: none;
}
#nav li
{
	position: relative;
}

.nav-toggle {
	text-align: center;
	color: #fff;
	background-color: $secondary;
	padding: 10px 8px;
	margin: 10px;
	display: inline-block;
	border-radius: 5px;
	&:hover, &:active {
		color: #fff;
		background-color: lighten($secondary, 10%);
	}
}

    /* first level */

    #nav > ul
    {
    	height: 3.75em;
    	@include transition(all, 1s, ease-in-out);
    }
    #nav > ul > li
    {
    	text-transform: uppercase;
    	float: left;
    	a {
    		display: block;
    	}
    }

    /* second level */

    #nav li ul
    {
    	display: none;
    	position: absolute;
    	top: 100%;
    	white-space: nowrap;
    }

    #nav li:hover ul
    {
    	display: block;
    }

@media only screen and ( max-width: $c ) /* 640 */
{
	#nav
	{
		position: relative;
	}
	#nav > a
	{
	}
	#nav:not( :target ) > a:first-of-type,
	#nav:target > a:last-of-type
	{
		display: block;
	}

    /* first level */

    #nav > ul
    {
    	height: auto;
    	display: none;
    	position: relative; // change to rel
    	left: 0;
    	right: 0;
    }
    #nav:target > ul
    {
    	display: block;
    }
    #nav > ul > li
    {
    	width: 100%;
    	float: none;
    }

    /* second level */

    #nav li ul
    {
    	position: static;
    	white-space: normal;
    }
}
@media only screen and ( min-width: $d ) /* 640 */
{
	#nav {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
.main-nav {
	color: $primary;
	padding: 16px;
	@include break($d) {
		padding: 20px;	
	}
	border-radius: 5px 5px 0 0;
	&:hover {
		color: $pos;
		background-color: transparentize($secondary, 0.1);
	}
}
.active {
	color: $pos;
	background-color: transparentize($secondary, 0.1);
}
.sub-nav {
	background-color: transparentize($secondary, 0.1);
	border-radius: 0 0 5px 5px;
	@extend .clearfix;
	li a {
		color: $pos;
		padding: 7px 20px 7px 20px;
		border-radius: 0 0 5px 5px;
		&:hover {
			background-color: lighten($secondary, 10%);
		}
	}
}


.editable-gallery {
	.fancybox {
		width: 40%;
		@include break($c) {width: 20%;}
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		img {
			max-width: 100%;
		}
		@include break($c) {

		}
	}
}

.typeset {

	ul, ol {
		margin-left: 15px;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		@include break($b) {
			margin: 0 0 30px 0;
			clear: both;
			width: 100%;
		}
	}
	.full-width {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {

		@include break($b) {
			float: right;
			margin: 0 0 15px 30px;
			width: 40%;
		}
	}
	.left {
		@include break($b) {
			float: left;
			margin: 0 30px 15px 0;
			width: 40%;
		}
	}

	blockquote {
		padding: 5%;
		clear: both;
		background-color: $secondary;
		color: $pos;
		@include break($b) {
			clear: none;
			float: right;
		}
		p {
			&:before {
				content: "“ ";
			}
			&:after {
				content: " ”";	
			}
		}
		i {
			font-size: em-font(10px);
		}
	}
}
////////////
// LAYOUT //
////////////

.row.typeset {
	padding-top: 20px;
	padding-bottom: 20px;
}

section.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.typeset ul.acc {
	margin-left: 0;
	li {
		color: $pos;
		background-color: lighten($secondary, 5%);
	}
}

.acc li {
	list-style-type: none;
}

.acc li .acc-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
}

.acc li .acc-head i {
	position: absolute;
	top: 22px;
	right: 15px;
}

.acc-panel {
	padding: 0px 20px 10px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  max-height: 550px;
  img {width: 100%;}
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slide-wrap {
	position: relative;
}

.headline-wrap {
	@extend .clearfix;
	width: 100%;
	position: absolute;
	bottom: 50px;
	z-index: 10;
	.center {
		max-width: $d;
		margin: 0 auto;
	}
}

.hero-headline {
	color: $pos;
	font-size: 15px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	text-shadow: 0 0 8px $primary;
	@include break($d) {
		font-size: 30px;
		text-align: right;
		width: 100%;
		max-width: 600px;
		float: right;
	}
}

.pagefoot {
	background-color: $primary;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $pos;
	img {
		max-width: 100%;
	}
	ul {
		width: 50%;
		float: left;
		li {
			a {
				color: $pos;
			}
		}
	}
}

#services {

}

article {
	margin-top: 10px;
	margin-bottom: 25px;
	&:first-of-type {
		margin-top: 50px;
	}
	img {
		margin-top: -15px;
		max-width: 100%;
	}
	figure {
		overflow: hidden;
		border-radius: 5px;
		img {
			margin-top: 0;
			margin-bottom: -5px;
			max-width: 100%;
		}
	}
}

.steel {
	// background-image: url(../img/alum.jpg);
}

.sidebar {
	padding-right: 30px;
	margin-top: 40px;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
